.col-sm-4.clearfix.feature-container
  .col-xs-12.feature-contents
    %h4
      = feature.title
    .feature
      = link_to feature.screenshot_url do
        = image_tag feature.screenshot_url
    .badge-container
      - if (feature.gitlab_libre == true)
        %a{"title" => "Available for GitLab self-hosted Libre users", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "libre"}<
            LIBRE
      - if (feature.gitlab_starter == true)
        %a{"title" => "Available for GitLab self-hosted Starter users", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "starter"}<
            STARTER
      - if (feature.gitlab_premium == true)
        %a{"title" => "Available for GitLab self-hosted Premium users", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "premium"}<
            PREMIUM
      - if (feature.gitlab_ultimate == true)
        %a{"title" => "Available for GitLab self-hosted Ultimate users", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "ultimate"}<
            ULTIMATE
      - if (feature.gitlab_free == true)
        %a{"title" => "Available for GitLab.com Free users", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "free"}<
            FREE
      - if (feature.gitlab_bronze == true)
        %a{"title" => "Available for GitLab.com Bronze users", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "bronze"}<
            BRONZE
      - if (feature.gitlab_silver == true)
        %a{"title" => "Available for GitLab.com Silver users", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "silver"}<
            SILVER
      - if (feature.gitlab_gold == true)
        %a{"title" => "Available for GitLab.com Gold users", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "gold"}<
            GOLD
    %p
      = kramdown(feature.description)
    - unless (feature.link == nil)
      %span
        - if (feature.link.to_s.start_with?("https://docs.gitlab.com"))
          = link_to "Documentation", feature.link
        - elsif (feature.link.to_s.start_with?("https://about.gitlab.com"))
          = link_to "Feature details", feature.link
        - else
          = link_to "Feature details", feature.link
