:markdown
  A [Security Specialist](/roles/security-specialist) is a
  [Developer](/roles/developer/) who focuses on ensuring
  that GitLab and associated applications are as secure as possible.
  The Security Specialist works in close collaboration with the
  [Security Lead](/roles/security-lead/).
