---
layout: job_page
title: "Vice President of Alliances"
---

## Responsibilities

* Identify, sign, and make successful alliances that have the potential to double our revenue over a 3 year timeline.
* Many alliances are with clouds that GitLab runs on top of, and products that become a part of GitLab.
* Clouds GitLab is run on top of are Amazon, Microsoft, Google, IBM, Alibaba, Huawei, Oracle, and Digital Ocean.
* An example of a product that becomes a part of GitLab is the [acquisition of Gemnasium](https://techcrunch.com/2018/01/30/gitlab-acquires-gemnasium-to-strengthen-its-security-services/).
* Alliances does not include reseller channel partners who are managed by the [Director of Channel and APAC Sales](https://about.gitlab.com/roles/sales/director-of-channel-and-apac-sales/).
* You're identifying, closing, and integrating acquisitions.
* Your team will also work with partners that make applications with which we integrate.
* You manage the external contacts, expectations, at the partner organizations, you're their point of contact, and they naturally reach out to you.
* Make sure we're engaged with the right people, do discovery of decision makers, and make sure we're doing good after re-organizations and attrition at the partner.
* You coordinate the cross-functional organization of GitLab and know when and who to bring in from partner marketing, product, finance, legal, sales, and peopleops.
* You manage each stage of the alliance lifecyle and evaluate if the alliance is successful for both partners.
* Evaluating full risk and benefits of existing and new partnerships.

## Requirements 
* 6-8 years of senior leadership (VP or C-level) in planning and closing alliance deals valued at over $50M with the largest tech companies.
* 8+ years of experience in the field of cloud and/or DevOps
* Proven success developing and delivering on strategic plans with leading tech companies in the Cloud and DevOps spaces.
* Experience working at a start-up (500 employees and under), building key partnerships during scaling
* Repeated success in penetrating Enterprise companies, outlining plans to build opportunities for collaboration, starting from cold approaches.
* Experience migrating large open-source projects to new tools for their communities
* Demonstrated complete understanding of the company, product, and landscape to make informed long-term strategic business decisions
* A networks of high executive contacts in the cloud, DevOps and open-source spaces. Proven ability to translate those to new partnerships and business opportunities.
* Demonstrated analytical and data led decision-making.
* Based in the San Francisco


<%= partial "includes/apply_and_about" %>