---
layout: job_page
title: "Senior Product Manager, BizOps"
---

{: .text-center}
<br>

We're looking for a product manager to invent the future of BizOps tools;
specifically, taking our approach to Complete DevOps, and applying it to the
world of business operations. We aim to help customers answer such questions as
how can I acquire the highest customer lifetime value (LTV) at the lowest
customer acquisition cost (CAC). Think about displacing tools such as
Insightsquared, Gainsight, and Tableau using open-source and deeply-integrated
tools.

This is a new area for GitLab and one of our big-bets for 2018. It'll be your
job to work out what we are going to do and how. In some ways, we need a
full-stack PM; someone that can write a little code, update a Helm chart, or
whatever is necessary in a very small team acting like a startup-in-a-startup.

We work in quite a unique way at GitLab, where lots of flexibility and
independence is mixed with a high paced, pragmatic way of working. And
everything we do is in the open.

## Responsibilities

- Build an attractive roadmap together with the Head of Product, VP of Product, and CEO; based on our [vision](/direction/#vision)
- Manage new features from conception to market
- Work out feature proposals from the community and customers
- Work together with UX, Frontend, and Backend engineers
- Ensure a smooth release of changes and features together with all stakeholders
- Empower the community by writing great documentation and highlighting the product in various ways in cooperation with marketing
- Support sales as a subject matter expert
- Normally at GitLab, Product Managers wouldn't be responsible for project management, but in this role, you may need to manage the project, and even manage engineers during the initial forming months until the project matures

## Requirements

- Strong Experience in product management
- Experience as a software developer
- Experience with GitLab CI/CD, Kubernetes, and Docker
- Strong understanding of business operations, business intelligence, data warehousing, etc.
- Passion for design and usability
- Highly independent and pragmatic
- You share our [values](/handbook/values), and work in accordance with those values.
- Bonus points: experience in working with open source projects

## Relevant links

- [Product Handbook](/handbook/product)
- [Engineering Workflow](/handbook/engineering/workflow)

## Hiring Process

Applicants for this position can expect the hiring process to follow the order
below. Please keep in mind that applicants can be declined from the position at
any stage of the process. To learn more about someone who may be conducting the
interview, find her/his job title on our [team page](/team).

* Selected candidates will be invited to schedule a [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a first interview with our Head of Product
* Candidates will then be invited to schedule an interview with the Senior Director, Data & Analytics
* Candidates will be invited to schedule a third interview with our VP of Product
* Candidates may be asked to meet with additional team members at the manager's discretion
* Finally, candidates will interview with our CEO
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](/handbook/hiring).

<%= partial "includes/apply_and_about" %>
